*/Debug/
*/Release/
*/*/Debug/
*/*/Release/
*/*/*/Debug/
*/*/*/Release/
*/.vs/
*/*/.vs/
*/*.VC.db
*/*/*.VC.db
*/*.VC.VC.opendb
*/*/*.VC.VC.opendb
*/x64
*/*/x64
DeepSeaGirl.wav
shader_compile_log.txt
parser-error-log.txt
MonsterNian1.dds
MonsterNian2.dds